<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Conversion App</title>
    <base href="/"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<client-root></client-root>
<script th:src="@{'/angular/conversion/main.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/polyfills.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/runtime.js'}" type="module"></script>

</body>
</html>
